/* Css reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lucida Sans", Arial, Verdana, sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #89a8b2;
  padding: 0.5rem 5%;
}

header .logo {
  color: #f1f0e8;
  font-size: 1.7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
}

header .menu a {
  color: #f1f0e8;
  text-decoration: none;
  font-family: sans-serif;
  margin-right: 0.3rem;
}

header .logo:hover,
header .menu a:hover {
  color: #e5e1da;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-image: linear-gradient(to bottom, #89a8b2 15%, #b3c8cf 90%);
  width: 100%;
  height: 90vh;
  padding: 1rem;
  text-align: center;
}

.hero h1 {
  color: #e5e1da;
  font-size: 3rem;
}

.hero p {
  color: #f1f0e8;
  font-size: 1.5rem;
}

.hero button {
  background-color: #f1f0e8;
  color: #89a8b2;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  align-self: center;
}

.hero button:hover {
  background-color: #e5e1da;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* About */

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.8rem;
  background-color: #b3c8cf;
  padding: 1rem;
}

.about img {
  width: 250px;
  height: 250px;
  border: 2px solid #f1f0e8;
  border-radius: 50%;
}

.about .text {
  max-width: 700px;
}

.about .text h3 {
  color: #555;
  font-size: 3rem;
}

.about .text div {
  max-width: 400px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 0.7rem;
}

.about .text p {
  color: #555;
  margin-top: 0.7rem;
  font-size: 1.5rem;
  line-height: 1.2;
}

/* Skills */
.skills {
  background-image: linear-gradient(to bottom, #b3c8cf 15%, #f1f0e8 90%);
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.skills h2 {
  color: #555;
  margin-top: 3rem;
  font-size: 3.5rem;
}

.skills .card {
  display: grid;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.skills .card .item {
  background-color: #f1f0e8;
  width: 100%;
  max-width: 300px;
  margin-top: 2.5rem;
  padding: 0.8rem;
  border-radius: 0 0.8rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.skills .card .item i {
  margin-bottom: 1.2rem;
  font-size: 6rem;
}

.skills .card .item .html {
  color: rgb(253, 28, 28);
}

.skills .card .item .css {
  color: rgb(52, 52, 255);
}

.skills .card .item .js {
  color: rgb(214, 214, 0);
}

.skills .card .item h3 {
  color: #333;
  font-size: 2.5rem;
}

.skills .card .item p {
  color: #89a8b2;
  font-size: 1.5rem;
}
